/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-family: 'Caveat', cursive; */
  font-family: 'Nanum Myeongjo', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}
.logo a{
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 15px;
    font-size: 1.7rem;
}

/* decorative text design for a text */
.logo a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2e1c97b3;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

.logo a:hover::before{
    transform: scaleX(1);
}

.logo a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2e1c97b3;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.logo a:hover::after{
    transform: scaleX(1);
}

/* ended */



.navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.9;
}

.navbar ul li{
    list-style: none;
    margin-left: 2rem;
    list-style-type: none;
}

.navbar li:last-child{
    margin-right: -2rem;
}

.navbar li:not(:last-child){
    margin-right: 2rem;
    cursor: pointer;
}
.navbar > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    justify-self: flex-end;
    /* position: relative; */
}

.dropdown{
    position: absolute;
    background-color: #fff;
    border-radius: 0.4rem;
    top: 3.9rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1002;
}
.dropup{
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 0.4rem;
    bottom: 4.2rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1002;
    right: .2pc;
}

.navbar a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
}

.navbar button{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.user + .dropdown button, .user ~ .dropup button{
    display: block;
    background-color: #2e1c97b3;
}

.navbar button:hover{
    opacity: 1;
}

.user{
    cursor: pointer;
    background-color: #2e1c97b3;
    padding: 0.6rem 1.5rem;
    border-radius: 12rem;
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 512px){
    .user{
        border-radius: 50%;
        padding: .8rem;
    }
    .navbar{
        /* display: none; */
        /* bottom: 0; */
        top: unset;
        bottom: 0;
    }

    .navbar li:last-child{
        margin-right: 0px;
    }
    
    .navbar li:not(:last-child){
        margin-right: 0px;
    }
}