/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Nanum Myeongjo', serif;
}

body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

header{
    height: 35%;
    /* image or green orange gradient */

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./assets/bg.jpeg"); */
    /* make the gradient run from left to right */
    background: url("./assets/bg.jpg"), linear-gradient(rgba(2, 156, 38, 0.457), rgba(232, 171, 15, 0.976));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    padding: 3rem 0px;
}

header h1{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

header form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    width: 80%;
    max-width: fit-content;
    box-shadow: 0px 0px 10px 0px #0000001a;
    
}

.search-bar{
    background-color: #e2dfdf;
    width: 100%;
    /* max-width: 600px; */
    padding: 1.2rem 1rem;
    border: none;
    outline: none;
}

.cats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    /* gap: 1rem; */
    /* padding: 1rem; */
    color: #5f5e5e;
    font-size: 1rem;
    overflow: scroll;
}
.cats>*{
    padding: 1rem;
    /* border-radius: 0.4rem; */
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    /* disable selection */
    user-select: none;
}

.cat:hover, .cat:focus, .active{
    opacity: 1;
    color: #2e1c97;
    /* make the bottom border */
    border-bottom: 2px solid #2e1c97;
    font-weight: 800;
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
}

.product{
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: fit-content;
    padding-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.product img{
    width: 100%;
    min-width: 300px;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.product img:hover{
    transform: scale(1.06);
    opacity: 1;
}

.blurred{
    filter: blur(5px);
}

.buy-btn{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    /* border-radius: 0.4rem; */
    background-color: #2e1c97b3;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.buy-btn:hover{
    background-color: #2e1c97;
}

.product-name{
    font-size: 1.2rem;
    font-weight: 800;
    padding: 0px 1rem;
}

.product-cat{
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #7b7b7b;
}

.product-price{
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: #2e1c97;
}